<form [formGroup]="newStoreForm" (ngSubmit)="submitNewStoreForm()">
  <div class="input-group mt-5">
    <input type="text" id="newStore" class="form-control" placeholder="New store name" name="new store" formControlName="newStore">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Add new</button>
    </div>  
  </div>
</form>

<div class="card my-2">
    <div class="card-header">
        <span>All stores</span>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
              <tr *ngFor="let store of storeList">
                <td>{{ store.name }}</td>
                <td>
                  <button type="button" class="btn btn-link py-0" (click)="openModal(template, store)">Edit</button>
                </td>
                <td>
                  <button type="button" class="btn btn-link py-0" (click)="deleteStore(store)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>        
    </div>
</div>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Store</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="existingStoreForm" (ngSubmit)="submitExistingStoreForm()">
      <div class="input-group">
        <input type="text" id="existingStore" class="form-control" name="existing store" formControlName="existingStore">
        <div class="input-group-append">
          <button type="button" class="btn btn-danger" (click)="cleanExistingInput()">&times;</button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>
  </div>
</ng-template>
