<form [formGroup]="newPurposeForm" (ngSubmit)="submitNewPurposeForm()">
  <div class="input-group mt-5">
    <input type="text" id="newPurpose" class="form-control" placeholder="New purpose name" name="new purpose" formControlName="newPurpose">
    <div class="input-group-append">
      <button type="submit" class="btn btn-primary">Add new</button>
    </div>  
  </div>
</form>

<div class="card my-2">
    <div class="card-header">
        <span>All purposes</span>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
              <tr *ngFor="let purpose of purposeList">
                <td>{{ purpose.name }}</td>
                <td>
                  <button type="button" class="btn btn-link py-0" (click)="openModal(template, purpose)">Edit</button>
                </td>
                <td>
                  <button type="button" class="btn btn-link py-0" (click)="deletePurpose(purpose)">Delete</button>
                </td>
              </tr>
            </tbody>
        </table>        
    </div>
</div>
 
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Edit Purpose</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="existingPurposeForm" (ngSubmit)="submitExistingPurposeForm()">
      <div class="input-group">
        <input type="text" id="existingPurpose" class="form-control" name="existing purpose" formControlName="existingPurpose">
        <div class="input-group-append">
          <button type="button" class="btn btn-danger" (click)="cleanExistingInput()">&times;</button>
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Save</button>
    </form>
  </div>
</ng-template>
