<div class="card m-5">
    <div class="card-header">
        <span>All accounts</span> 
        <a routerLink="/account/edit-account" class="float-right">New</a>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
              <tr>
                <td>Cash</td>
                <td>cash</td>
                <td>$12.20</td>
                <td><a routerLink="/account/edit-account">edit</a></td>
              </tr>
              <tr>
                <td>Cash</td>
                <td>cash</td>
                <td>$12.20</td>
                <td><a routerLink="/account/edit-account">edit</a></td>
              </tr>
              <tr>
                <td>Cash</td>
                <td>cash</td>
                <td>$12.20</td>
                <td><a routerLink="/account/edit-account">edit</a></td>
              </tr>
            </tbody>
        </table>        
    </div>
</div>