<div class="d-flex justify-content-between my-5">
    <famcial-number-card 
        [Title]="'Current month spend'"
        [Data]="currentMonthSpend"
        [Color]="'Red'"></famcial-number-card>
    <famcial-number-card 
        [Title]="'Current month net'"
        [Data]="currentMonthEarn - currentMonthSpend"
        [Color]="'Black'"></famcial-number-card>
    <famcial-number-card 
        [Title]="'Current month earn'"
        [Data]="currentMonthEarn"
        [Color]="'Green'"></famcial-number-card>
</div>

<div class="card mb-5">
    <div class="card-header bg-white font-weight-bold">Past 12 months total spend</div>
    <div class="card-body">
        <famcial-line-chart></famcial-line-chart>
    </div>
</div>

<div class="card">
    <div class="card-header">
        <span>Recent transactions</span> 
        <a routerLink="/record" class="float-right">View more</a>
    </div>
    <div class="card-body">
        <table class="table">
            <tbody>
                <tr>
                    <td>07/28/2020 13:45</td>
                    <td>Food-drink</td>
                    <td>$12.20</td>
                    <td><a routerLink="/record">edit</a></td>
                </tr>
                <tr>
                    <td>07/28/2020 13:45</td>
                    <td>Food-drink</td>
                    <td>$12.20</td>
                    <td><a routerLink="/record">edit</a></td>
                </tr>
                <tr>
                    <td>07/28/2020 13:45</td>
                    <td>Food-drink</td>
                    <td>$12.20</td>
                    <td><a routerLink="/record">edit</a></td>
                </tr>
            </tbody>
        </table>        
    </div>
</div>
